/* Load  DMSans font family*/

@font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../assets/fonts/static/DMSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../assets/fonts/static/DMSans-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'DM Sans';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url('../assets/fonts/static/DMSans-MediumItalic.ttf') format('truetype');
}

/* CSS Variables */
:root {
    --purple-100: hsl(254, 88%, 90%);
    --purple-500: hsl(256, 67%, 59%);

    --yellow100: hsl(31, 66%, 93%);
    --yellow500: hsl(39, 100%, 71%);

    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 7%);


    /* gaps */
    --gap-cards-mobile: 2rem;
}

/* General body styles */

body {
    font-family: 'DM Sans', sans-serif, Arial, Helvetica;
    font-size: 18px;
    line-height: 1.5;
    color: var(--black);
    background-color: var(--white);
    margin: 0;
    padding: 0;
}

main {
    padding-inline: 1rem;
    padding-block: 2rem;
    max-width: 1440px;
}

/* CARDS */
section.card-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--gap-cards-mobile);
}

.card {
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-inline: 1.5rem;
    padding-block: 2rem;
}

.card h2 {
    line-height: 1.125;
}

/* Faster socials card */
.faster-socials {
    background-color: var(--purple-500);
    color: var(--white);
}

.faster-socials h1 {
    font-weight: 500;
    line-height: 1;
    max-width: 18rem;
}

.faster-socials h1 .highlight {
    color: var(--yellow500);
}

.faster-socials .stars {
    margin-top: 1.5rem;
    gap: .5rem;
}

.faster-socials .stars img {
    width: 12rem;
}

/* Multople accounts card */

.multiple-accounts h2 {
    margin-top: 1rem;
}

/* Consistent schedule card */

.consistent-schedule {
    background-color: var(--yellow500);
    color: var(--black);
    padding-block: 1rem 0;
    height: 12rem;
    overflow-y: hidden;
}

.consistent-schedule .image-container {
    margin-top: 1.2rem;
}

.consistent-schedule img {
    width: 12rem;
    height: 8rem;
}

/* Shcedule socials card */

.schedule-socials {
    background-color: var(--purple-100);
    color: var(--black);
}

.schedule-socials h2 {
    font-size: 1.35rem;
}

.schedule-socials .image-container {
    margin-top: 1.2rem;
}

.schedule-socials .image-container img {
    border-radius: 1rem;
}

.schedule-socials p {
    margin-top: 1.2rem;
    width: 90%;
}

/* Grow followers card */

.grow-followers {
    background-color: var(--purple-500);
    color: var(--white);
}

.grow-followers .image-container {
    width: 80%;
}

.grow-followers h2 {
    font-size: 1.75rem;
    margin-top: 1.5rem;
    width: 70%;
}

/* Faster growth card */

.faster-growth {
    background-color: var(--white);
    color: var(--black);
    padding-block: 1.125rem;
}

.faster-growth .top p{
    margin-top: .5rem;
}

.faster-growth .image-container {
    margin-top: 1.2rem;
    max-width: 10rem;
}

/* Create content quicker */

.create-quicker {
    background-color: var(--yellow100);
    color: var(--black);
}

.create-quicker h2 .highlight {
    color: var(--purple-500);
}

.create-quicker .image-container {
    margin-top: 1.25rem;
    max-width: 12rem;
}

/* ia writing card */

.ia-writing {
    background-color: var(--yellow500);
    color: var(--black);
}

.ia-writing h2 {
    max-width: 17rem;
    font-size: 1.75rem;
    line-height: 1;
}

.ia-writing .image-container {
    margin-top: 1.2rem;
    max-width: 14rem;
}

/* Media Queries */

/* Desktop Wide */
@media screen and (max-width: 1440px) {
    body {
        font-size: 16px;
    }
}